body{
  display: flex;
  flex-direction: row;
  width: 99%;
  height:auto;
}

.Player1{
    width: 33%;
    height: available;
}

.Central{
    width: 34%;
    height: available;
}

.Player2{
    width: 33%;
    height: available;
}


/* Player 1 */ 

.Name_score_p1{

    text-align: center;

}

.Name_score_p1 strong{

    font-size: 50px;
    
}

.Score_p1{

    font-size: 50px;
    text-align: center;
}

.Current_p1{

    width: 150px;
    font-size: 35px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.Current_score_p1{

    font-size: 25px;
    margin: 5px 0 5px 0;
    text-align: center;
}

/* Player 2 */ 

.Name_score_p2{

    text-align: center;

}

.Name_score_p2 strong{

    font-size: 50px;
    
}

.Score_p2{

    font-size: 50px;
    text-align: center;
}

.Current_p2{

    width: 150px;
    font-size: 35px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.Current_score_p2{

    font-size: 25px;
    margin: 5px 0 5px 0;
    text-align: center;
}

/* Central */ 

.NewGame{

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.Dice {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.Rolldice {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.Hold {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

