@font-face {
    font-family: 'Lato';
    font-style: normal;
    src: url(https://fonts.google.com/specimen/Lato);
}



body{
  display: flex;
  flex-direction: row;
  width: 99%;
  height: auto;
}

.Player1{
    width: 40%;
    height: available;
}

.Central{
    width: 20%;
    height: available;
}

.Player2{
    width: 40%;
    height: available;
}


/* Player 1 */ 

.Name_score_p1{

    text-align: center;
    margin-top : 10%;

}

.Name_score_p1 strong{

    font-size: 50px;
    
}
.Score_p1{

    font-size: 50px;
    text-align: center;
}

#score_p1_affichage{

    color: red;

}

.Current_p1{

    width: 150px;
    font-size: 35px;
    background-color: red;
    margin: 70% auto 5% auto;
    text-align: center;
    
}

.Current_score_p1{

    font-size: 25px;
    margin: 5px 0 5px 0;
    text-align: center;
    color: white;
}

/* Player 2 */ 

.Name_score_p2{

    text-align: center;
    margin-top : 10%;

}

.Name_score_p2 strong{

    font-size: 50px;
    
}

.Score_p2{

    font-size: 50px;
    text-align: center;
}

#score_p2_affichage{

    color: red;

}

.Current_p2{

    width: 150px;
    font-size: 35px;
    background-color: red;
    margin: 70% auto 5% auto;
    text-align: center;
    
}

.Current_score_p2{

    font-size: 25px;
    margin: 5px 0 5px 0;
    text-align: center;
    color: white;
}

/* Central */ 
a{

    text-decoration: none;

}
.NewGame{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top : 2%;
    font-size: 25px;

}

.Dice {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top : 20%;

}

.Rolldice {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top : 60%;
    font-size: 25px;

}

.Hold {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 25px;

}

